name: Python CI

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

      - name: Formatting code with Ruff
        run: |
          ruff format src

      - name: Running Ruff linting
        run: |
          ruff check src

      - name: Running Ty type check
        run: |
          ty check .

      - name: Run tests
        run: |
          pytest --maxfail=1 -vv -W always -rw \
          --cov=src \
          --cov-report=xml \
          --cov-report=html \
          --junitxml=test-results.xml

      - name: Upload coverage HTML report
        uses: actions/upload-artifact@v4
        with:
          name: coverage-html
          path: htmlcov

      - name: Upload test results
        uses: actions/upload-artifact@v4
        with:
          name: test-results
          path: test-results.xml

      - name: Display test results in GitHub Actions
        if: always()
        uses: pmeier/pytest-results-action@main
        with:
          path: test-results.xml
          fail_on_empty: true

      - name: Report coverage in PR
        if: github.event_name == 'pull_request'
        uses: py-cov-action/python-coverage-comment-action@v3
        with:
          coverage-file: coverage.xml